<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

</head>
<body>
dsa
<div id = "Progress_Loading"><!-- 로딩바 -->
데이터 분석중입니다 잠시만 기다려주세요 ...
<img src="../static/loading.gif"/>
</div>



<div>

<a href="#" id="burger">버거</a>
<input type="button" id="anal2">
<div id="showData"></div>
<div id="showData2"></div>
<div id="showData3"></div>
<div id="showData4"></div>

<div id = "Progress_Loading2"><!-- 로딩바 -->
데이터 분석중입니다 잠시만 기다려주세요 ...
<img src="../static/loading.gif"/>
</div>


{{a}}

{{yh_grap1|safe}}
{{yh_grap2|safe}}
{{yh_grap3|safe}}
{{plot_div|safe}}
{{plot_div2|safe}}
</div>
</body>
<script type="text/javascript">

$(document).ready(function(){
	$('#Progress_Loading').hide(); //첫 시작시 로딩바를 숨겨준다.
	$('#Progress_Loading2').hide();
		
	//alert("a")
	//버거를 눌렀을 시
	$("#burger").bind('click',function(){
		$('#Progress_Loading').show(); //ajax실행시 로딩바를 보여준다.
		$("#showData").empty()
		//alert('b')
			$.ajax({
				url:'show',
				type:'get',
				dataType:'json',
				async:true,
				success:function(data){
					//alert(data)
					alert(data['a'])
					str1 = "<h1>"+ data['a'] + "</h1>"
					str1 += "<h1>정확도 :"+ data['accuracy'] + "%</h1>"
					str2 = "<div>" + data['yh_grap3']+ "</div>" 					
					$('#showData').append(str1)	
					$('#showData2').append(str2)	
					$('#Progress_Loading').hide(); //ajax종료시 로딩바를 숨겨준다.		
				},
				error:function(){
					$('#showData').text('error')
				}
			})
		})
		
	$("#anal2").bind('click',function(){
		$('#Progress_Loading2').show(); //ajax실행시 로딩바를 보여준다.
		$("#showData").empty()
		//alert('b')
			$.ajax({
				url:'show2', 
				type:'get',
				dataType:'json',
				async:true,
				success:function(data){
					//alert(data)
					alert(data['anal'])
					str1 = "<h1>"+ data['anal'] + "</h1>"					
					$('#showData4').append(str1)
					$('#Progress_Loading2').hide(); //ajax종료시 로딩바를 숨겨준다.					
				
				},
				error:function(){
					$('#showData').text('error')
				}
			})
		})

})

</script>
</html>